.banner{
    height: 60vh;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    background-image: url(	https://www.apexsystems.com/sites/default/files/media-images/Apex%20Hero%20Image%20v07_hero.jpg);
    background-color: #0a192f;
    background-size: 100% 100%;
}
.banner-title{
    font-weight: bolder;
    font-size: 70px;
    width: 50%;
}
.story{
    font-size: 22px;
    letter-spacing: .01em;
    font-weight: 300;
}
.side-by-side-content {
    align-items: center;
    margin: 65px 0;
    padding: 40px 0;
    display: flex;
    position: relative;
    z-index: 2;
}

.subheading{
    font-size: 38px;
    margin: 0 0 25px;
    color: #44546a;
}
p{
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 200%;
    color: #737373;
    font-size: 22px;
}
.field-item{
    height: max-content;
}
.content-side{
    align-items: center;
}
.content-image{
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: auto;
}
.working-with{
    background-color: rgba(165,165,167,0.05);
}
.working-with-content{
    font-weight: 200;
    font-size: 28px;
    line-height: 200%;
    color: #44546a;
    font-style: italic;
    display: flex;
    align-items: center;
    width: fit-content;
    text-align: center;
}
.nbs-flexisel-item {
    float: left;
    margin: 0px;
    width: 290px;
    padding: 15px;
    cursor: pointer;
    position: relative;
    line-height: 16px;
  }

@media (max-width: 750px) {
    .banner-title{
        font-weight: bold;
        font-size: 30px;
        width: 80%;
    }
    .working-with-content{
        font-size: 20px;
        line-height: 150%;
    }
    p{
        font-size: 15px;
    }
}
@media (min-width: 750px) and (max-width: 1024px) {
    .banner-title{
        font-size: 50px;
        width: 60%;
    }
}





.col-centered {
    float: none;
    margin: 0 auto;
}

.carousel-control { 
    width: 8%;
    width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
    margin-right: 40px;
    margin-left: 32px; 
    background-image: none;
    opacity: 1;
}
.carousel-control > a > span {
    color: white;
	  font-size: 29px !important;
}

.carousel-col { 
    position: relative; 
    min-height: 1px; 
    padding: 5px; 
    float: left;
 }

 .active > div { display:none; }
 .active > div:first-child { display:block; }

 
/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left { left: -50%; }
  .carousel-inner .active.right { left: 50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		     { left: -50%; }
  .carousel-col                { width: 50%; }
	.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left { left: -33%; }
  .carousel-inner .active.right { left: 33%; }
	.carousel-inner .next        { left:  33%; }
	.carousel-inner .prev		     { left: -33%; }
  .carousel-col                { width: 33%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left { left: -25%; }
  .carousel-inner .active.right{ left:  25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		     { left: -25%; }
  .carousel-col                { width: 25%; }
	.active > div:first-child + div { display:block; }
  .active > div:first-child + div + div { display:block; }
	.active > div:first-child + div + div + div { display:block; }
}

.block {
	width: 306px;
	height: 230px;
}

.red {background: red;}

.blue {background: blue;}

.green {background: green;}

.yellow {background: yellow;}
