.navbar {
  background-color: #0a192f;
}
.fa-navicon {
  font-size: 48px;
  color: #fff;
}
.nav-item {
  display: flex;
  justify-content: center;
}
.social{
    color: #0a192f;
    font-size: 12px !important;
}
.footerContent{
    display: inline-block;
    width: 100%;
    clear: both;
    font-size: 13px;
    margin: 30px 0 0;
    text-align: justify;
    line-height: 25px;
    color: #737373;
}




@media (max-width: 991px) {
  nav.navbar .navbar-toggler.collapsed {
    background-image: url(https://www.apexsystems.com/profiles/apex/themes/apex_bootstrap/images/hamburger.png);
    background-size: 37px;
  }
  nav.navbar .navbar-toggler {
    background-color: transparent;
    background-image: url(https://www.apexsystems.com/profiles/apex/themes/apex_bootstrap/images/X.png);
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 0;
    border: 0;
    display: inline-block;
    width: 44px;
    height: 44px;
    margin: 0 0 0 15px;
    outline: 0;
  }
  }

